html {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #404040;
  background-color: 	hsl(0, 0%, 98%);
}

#header_full {
  display: flex;
  justify-content: space-between;
}

#header_mobile {
  display: none;
}

#logo {
  display: flex;
  align-items: center;
  height: 64px;
}

#logo img {
  margin-left: 24px;
  height: 32px;
}

#logo p {
  display: inline-block;
  font-weight: 500;
}

#logo span {
  color: gray;
  font-weight: 300;
}

nav {
  display: flex;
  align-items: center;
  padding-right: 24px;
}

nav a {
  display: inline-block;
}

.nav_accent {
  background-color: aquamarine;
  opacity: 0.5;
  width: 16px;
  height: 100%;
}

.media_box {
  width: 60%;
  margin: 32px 24px;
}

.media_box img {
  width: 100%;
}

@media only screen and (max-width: 480px) {
  #header_full {
    display: none;
  }
  #header_mobile {
    display: flex;
    justify-content: space-between;
  }
}

#headline_banner {
  display: flex;
  background-color: #e6e6e6;
}

#headline_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#headline_text h1 {
  font-size: 40px;
  margin-bottom: 0px;
  letter-spacing: 1px;
}

#headline_text h3 {
  padding: 24px 0px;
  font-weight: 500;
  letter-spacing: 1px;
}

#start_button {
  color: white;
  background-color: #404040;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  letter-spacing: 1px;
}

@media only screen and (max-width: 480px) {
  #headline_banner {
    display: block;
  }
}

#info_banner {
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-top: 16px;
}

.sidebar_info {
  display: flex;
  align-items: center;
}

.sidebar_info:hover {
  background-color: #e6e6e6;
}

.sidebar img {
  height: auto;
  width: 35%;
  height: 35%;
  margin: 16px;
}

.sidebar h3 {
  font-weight: 400;
  letter-spacing: 0.5px;
  margin: 0px;
}

.sidebar p {
  font-weight: 200;
  line-height: 1.5;
  margin: 8px 0px;
}

.sidebar a {
  font-weight: 300;
  color: #6666ff;
}

#practice_image h1 {
  letter-spacing: 1px;
  margin: 32px 0px;
}

#practice_image p {
  margin-bottom: 32px;
  font-weight: 200;
  letter-spacing: 1px;
}

#practice_image span {
  margin-bottom: 32px;
  font-weight: 400;
}

@media only screen and (max-width: 480px) {
  #practice_image {
    display: none;
  }
  .sidebar {
    margin: 16px 16px;
    width: 100%;
    height: auto;
  }
  .sidebar img {
    width: 100%;
    height: auto;
  }
}

#learning_content {
  background-color: #e6e6e6;
}

#learning_content h1 {
  display: block;
  text-align: center;
  padding-top: 32px;
  background-color: transparent;
  font-weight: 600;
  letter-spacing: 1px;
}

#course_box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 32px 72px;
}

.course_concentration {
  width: 30%;
  background-color: white;
  margin-bottom: 32px;
}

.course_concentration img {
  width: 100%;
  height: auto;
}

.course_concentration h3 {
  font-weight: 400;
  letter-spacing: 0.5px;
  padding: 16px;
  margin: 0px;
}

.course_concentration span {
  font-weight: 200;
  margin: 0px;
  padding: 8px 16px;
  color: gray;
  line-height: 1.5;
}

.course_concentration p {
  font-weight: 200;
  margin: 0px;
  padding: 8px 0px 16px 16px;
  color: gray;
  line-height: 1.5;
}

@media only screen and (max-width: 480px) {
  #course_box {
    margin: 32px 16px;
  }
  .course_concentration {
    width: 100%;
  }
  .course_concentration img, span, p {
    display: none;
  }
}

#thesis_exhibit h1 {
  display: block;
  text-align: center;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 32px 0px 0px 0px;
}

#thesis_media {
  display: flex;
}

#thesis_media .media_box h3 {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin: 24px 0px 8px 0px;
}

#thesis_media p {
  font-weight: 200;
  letter-spacing: 1px;
}

@media only screen and (max-width: 480px) {
  #thesis_exhibit .sidebar {
    display: none;
  }
  #media_box h3, p {
    display: none;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e6e6e6;
  padding-top: 16px;
}

footer p {
  margin-left: 24px;
}

footer a {
  margin-left: 16px;
}

@media only screen and (max-width: 480px) {
  nav {
    display: none;
  }
}
