header {
  height: 64px;
}

#header_full {
  display: flex;
  justify-content: space-between;
}

#header_mobile {
  display: none;
}

#logo {
  display: flex;
  align-items: center;
}

#logo img {
  margin-left: 24px;
  height: 32px;
}

#logo p {
  display: inline-block;
  font-weight: bold;
}

#logo span {
  color: gray;
}

nav {
  display: flex;
  align-items: center;
  padding-right: 24px;
}

nav a {
  display: inline-block;
}

.nav_accent {
  background-color: aquamarine;
  width: 16px;
  height: 100%;
}

.media_box {
  width: 60%;
  margin: 32px 24px;
  border: 1px solid yellow;
}

.media_box img {
  width: 100%;
}

@media only screen and (max-width: 480px) {
  #header_full {
    display: none;
  }
  #header_mobile {
    display: flex;
    justify-content: space-between;
  }
}

#headline_banner {
  display: flex;
  background-color: gray;
}

#headline_text {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#headline_text h3 {
  padding-bottom: 24px;
}

#start_button {
  color: white;
  background-color: black;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
}

@media only screen and (max-width: 480px) {
  #headline_banner {
    display: block;
  }
}

#info_banner {
  display: flex;
  border: 1px dashed green;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 100%;
  border: 1px solid blue;
}

.sidebar_info {
  display: flex;
  align-items: center;
}

.sidebar img {
  height: auto;
  width: 35%;
  height: 35%;
  margin: 16px;
}

#practice_image p {
  margin-top: 24px;
  margin-bottom: 32px;
}

#practice_image span {
  margin-bottom: 32px;
}

@media only screen and (max-width: 480px) {
  #practice_image {
    display: none;
  }
  .sidebar {
    margin: 16px 16px;
    width: 100%;
    height: auto;
  }
  .sidebar img {
    width: 100%;
    height: auto;
  }
}

#learning_content {
  background-color: gray;
}

#learning_content h1 {
  display: block;
  text-align: center;
  padding: 32px 0px;
  background-color: transparent;
}

#course_box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0px 72px 32px 72px;
}

.course_concentration {
  width: 30%;
  background-color: white;
  margin-bottom: 24px;
  border: 1px solid yellow;
}

.course_concentration img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 480px) {
  #course_box {
    margin: 32px 16px;
  }
  .course_concentration {
    width: 100%;
  }
  .course_concentration img, span, p {
    display: none;
  }
}

#thesis_exhibit h1 {
  display: block;
  text-align: center;
}

#thesis_media {
  display: flex;
}

#thesis_video p {
  padding-bottom: 32px;
}

@media only screen and (max-width: 480px) {
  #thesis_exhibit .sidebar {
    display: none;
  }
  #media_box h3, p {
    display: none;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
}

footer p {
  margin-left: 24px;
}

@media only screen and (max-width: 480px) {
  nav {
    display: none;
  }
}
